<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".NotetakingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity android:name=".pdf.PdfPageFragment" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".pdf.PdfViewerFragment" android:windowSoftInputMode="adjustNothing"/>
        <service
            android:name=".recording.RecordingService"
            android:foregroundServiceType="microphone"
            android:enabled="true"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>